body{
font-family: Arial, sans-serif;
margin:0;
background:#f4f4f4;
color:#333;
}

header{
background:#0b6623;
color:white;
padding:20px;
text-align:center;
}

nav a{
color:black;
margin:0 15px;
text-decoration:none;
font-weight:bold;
}

.hero{
background:#228B22;
color:white;
padding:60px;
text-align:center;
}

section{
padding:40px;
max-width:800px;
margin:auto;
}

h2{
color:#0b6623;
}

form{
display:flex;
flex-direction:column;
gap:15px;
margin-top:20px;
}

input, textarea{
padding:12px;
border:1px solid #ccc;
border-radius:5px;
}

button{
background:#0b6623;
color:white;
border:none;
padding:12px;
font-size:16px;
cursor:pointer;
border-radius:5px;
}

button:hover{
background:#064d1a;
}

#successMessage{
display:none;
color:green;
margin-top:15px;
font-weight:bold;
}

footer{
background:#222;
color:white;
text-align:center;
padding:20px;
margin-top:40px;
}
@media (max-width:768px){

header{
flex-direction:column;
}

nav{
margin-top:10px;
}

.hero{
padding:40px 20px;
}

section{
padding:20px;
}

}
.logo-area{
display:flex;
align-items:center;
justify-content:center;
gap:15px;
}

.logo-area img{
width:50px;
height:50px;
}
